* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    width: 205px;
    height: 60px;
    border-radius: 30px;
    background: #2e80ce;
    color: #fff;
    border: none;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

/** Header **/
.header {
    background: #10375c;
    height: 800px;
}

.nav {
    width: 1170px;
    position: absolute;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    position: relative;
    margin-left: 318px;
    width: 363px;
}

.nav-list::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 6px;
    top: 11px;
    left: -11px;
}

.nav-list li {
    margin-right: 42px;
}

.nav-list li a {
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    text-decoration: none;
}

.nav-list li:first-child a {
    color: #fff;
    font-weight: 400;
    line-height: 1.75;
}

.nav .cta-btn {
    display: flex;
    align-items: center;
    margin-left: 222px;
}

.nav .cta-btn p {
    color: #c9d2da;
    text-align: right;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    /* height: 28px; */
}

.nav .cta-btn button {
    width: 104px;
    height: 44px;
    margin-left: 28px;
    font-size: 1.6rem;
}

/** Hero**/
.hero {
    display: flex;
    margin-top: 150px;
    float: left;
}

.hero-desc,
.hero-img {
    width: 50%;
    flex: 1;
}

.hero-desc {
    padding-top: 60px;
}

.hero-desc h1 {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
    width: 517px;
}

.hero-desc > p {
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
    margin-top: 22px;
}

.hero-footer {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero-footer p {
    margin-left: 38px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.hero-img {
    margin-left: 113px;
    position: relative;
    z-index: 1;
}

.hero-img .img {
    position: absolute;
    top: 65px;
    right: -10px;
    z-index: -1;
}

/** Service **/
.service {
    margin-top: 170px;
    margin-bottom: 170px;
}

.service-title h2 {
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.service-title p {
    margin-top: 18px;
    color: #575f66;
    width: 468px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
    margin-left: auto;
    margin-right: auto;
}

.service-content {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.service-desc {
    margin-left: 130px;
    padding-top: 35px;
    height: 499px;
}

.service-desc .items {
    display: flex;
}

.service-desc .items:first-child {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 1px;
    border-radius: 10px;
    width: 470px;
    height: 128px;
    background: #fff;
}

.service-desc .items .img {
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background: #2e80ce;
    margin: 21px 19px 47px 22px;
}

.service-desc .items .img2 {
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background: #eff6fd;
    margin: 21px 19px 47px 22px;
}

.service-desc .items img {
    position: absolute;
    text-align: center;
    width: 22px;
    height: 24px;
    top: 18px;
    left: 19px;
}

.service-desc .items figcaption h3 {
    margin-top: 21px;
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
}

.service-desc .items figcaption p {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    width: 351px;
}

.service-desc button {
    margin-top: 55px;
}

/**  Intro-services  **/
.intro-services {
    height: 826px;
    background: #f6fbff;
}

.intro-desc {
    padding-top: 100px;
}

.intro-desc h2 {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.intro-desc p {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
    width: 468px;
}

.intro-items {
    display: flex;
    margin-top: 86px;
    justify-content: space-between;
}

.intro-items .items {
    width: 370px;
    height: 402px;
    border-radius: 4px;
    background: #fff;
    border: 16px solid #eaf6ff;
}

.intro-items .items:first-child {
    border: 16px solid #2e80ce;
    margin-top: -16px;
}

.intro-items .items img {
    margin-top: 43px;
    margin-left: 42px;
}

.item-info {
    margin-left: 42px;
}

.item-info .main-title {
    color: #10375c;
    margin-top: 18px;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.item-info .sub-title {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    width: 254px;
    margin-top: 28px;
}

.item-info .last-title {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    margin-top: 18px;
}

.intro-items .items:first-child .item-info .last-title {
    color: #2e80ce;
}

/*** Features ***/
.features {
    margin-top: 170px;
    margin-bottom: 170px;
    position: relative;
    display: flex;
    height: 491px;
}

.features-img {
    width: 570px;
}

.features .img1 {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
    object-fit: cover;
}

.features .img {
    position: absolute;
    top: 121px;
    left: 238px;
}

.features-desc {
    width: 470px;
    margin-top: 82px;
    margin-left: 130px;
}

.features-desc h2 {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.features-desc p {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
    margin-top: 18px;
}

.features-desc button {
    margin-top: 38px;
}

/*** Team ***/
.team {
    height: 686px;
    margin-bottom: 265px;
}

.team-info h2 {
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.team-info button {
    margin-top: 38px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.team-img {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}

.team-img .item {
    width: 270px;
    height: 318px;
    border-radius: 6px;
    background: #eaf6ff;
}

.team-img img {
    padding: 28px 4px 0;
}

.team-img h4 {
    color: #10375c;
    margin-top: 12px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.team-img p {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85;
}

.next-page {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 104px;
}

/*** cta ***/
.cta {
    height: 427px;
    background: #2e80ce;
    display: flex;
    /* align-items: center; */
}

.main-img {
    margin-left: 70px;
}

.main-img img {
    display: block;
    margin-top: -95px;
}

.cta-info {
    margin-top: 76px;
    margin-left: 160px;
}

.cta-info h2 {
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
    width: 489px;
}

.cta-info p {
    color: #fff;
    margin-top: 18px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
    width: 586px;
}

.cta-info .cta-action {
    margin-top: 38px;
}

.cta-info .cta-action img + img {
    margin-left: 28px;
}
